.container {
  display: flex;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}

.unselected-providers, .selected-providers {
  flex: 50%;
  margin: 1em;
  background: #BCB8B1; 
  min-height: 70vh;
}

.no-results-message {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
